#Pandas is a powerful and widely used open-source data analysis and manipulation library in Python. It's particularly known for its ability to handle and process large amounts of data with ease. Here are some of the basic concepts and functionalities of Pandas

Series: A one-dimensional labeled array capable of holding any data type (integers, strings, floats, etc.).

In [ ]:
import pandas as pd
s = pd.Series([1, 2, 3, 4, 5])

DataFrame: A two-dimensional table with labeled axes (rows and columns). It's similar to a spreadsheet or SQL table.

In [ ]:
import pandas as pd
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

You can create a DataFrame from:
Lists of dictionaries or lists of lists
CSV files
Excel files
SQL queries

In [ ]:
data = {
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35]
}
df = pd.DataFrame(data)

filter data

In [ ]:
df[df['age'] > 30]

      name  age
2  Charlie   35